.heading{
position : absolute;
top: 8%;
left : 15%;}

.topic{
background-image: url("milky way.jpg");
background-size: 100%;
}



.shedulebtn {
	box-shadow:inset 0px 0px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:42px;
	border:3px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 30px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
}
.shedulebtn:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.shedulebtn:active {
	position:relative;
	top:1px;
}

.butto:hover{
			background-color:#1976D2;
		}
		
.butto2:hover{
			background-color:#1976D2;
		}
		
.butto{
background-color: #1A237E ; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
position : absolute;
top: 20px;
right : 15px;
}

.butto2{
background-color: #1A237E; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
position : absolute;
top: 20px;
right : 100px;
}

.rbutto{
background-color: #1A237E ; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
position : absolute;
top: 25px;
right : 15px;
}

.rbutto2{
position : absolute;
top: 20px;
right : 110px;
}

ul.menu{
			list-style-type:none;
			margin:0;
			padding:0;
			background-color:black;
			overflow:hidden;
		
        }
		
li.menu{
			float:center;
      }
li a{
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}

li a:hover{
			background-color:#1976D2;
		}
#navcenter {
width:1350px;
margin:;
list-style:none;
}
#navcenter li {
float:left;
}
#navcenter a {
display:block;
text-align:center;
width:150px;
text-decoration:none; 
}
#active2{ background-color: #1A237E ;
  color: white;
}

.vertical-menu {
  width: 12%;
  background-color:black;
  float:left;
}

.vertical-menu a {
  text-align:center;
  background-color: black;
  color: white;
  display: block; 
  padding: 21px; 
  
}

.vertical-menu a:hover {
  background-color: #1976D2;
}

.vertical-menu a.active{
	background-color: #283593;
	color: white;
	
}


footer {
  text-align: center;
  padding: 5px;
  background-color: black;
  color: white;
}


.topnav {
  background-color:black;
  overflow: hidden;
}

.topnav a {
  float: middle;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 23px;
  
}


.topnav a:hover {
  background-color:#1565C0;
  color: white;
}

.topnav a.active {
  background-color: #283593;
  color: white;
}

.submitbtn{
	background-color: #808B96;
	border: none;
	color: white;
	padding: 16px 32px;
	margin: 4px 2px;
	cursor: pointer;
}

.mySlides {
				display: none
			}
      img {
				vertical-align: middle;
			}
.slideshow-container {
        max-width: 800px;
        position: relative;
        margin: auto;
		align :center;
		top: 0px;
		left :40%;
      }
  [data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }

.column {
  float: left;
  width: 21%;
  padding: 0 7px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding:5px;
  text-align: center;
  background-color: #444;
  color: white;
}

#down1,#down2,#down3,#down4,#down5{
	display:none;
}



