* {
	margin: 0; padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

.container {
	width: 600px;
	margin: 20px auto;
}

h1, p {
	margin-bottom: 15px;
}

label {
	display: block;
}

input, textarea {
	width: 100%;
	padding: 10px;
	font-size: 16px;
}

button {
	padding: 10px 20px;
}

.success {
	background: green;
	color: white;
	padding: 15px;
	text-align: center;
	font-weight: bold;
}

.error {
	background: red;
	color: white;
	padding: 15px;
	text-align: center;
	font-weight: bold;
}

p.success {
	background: green;
	color: white;
	padding: 15px;
	text-align: center;
}

p.error {
	background: red;
	color: white;
	padding: 15px;
	text-align: center;
}